<!DOCTYPE html>
<html>
    <head>
        <title>Highscore</title>
    </head>
    <body>
        <h1>Highscore list</h1>
        <table border="1">
            <tr>
                <th>Name</th>
                <th>Highscore</th>
                <th>Date</th>
            </tr>
            {% for highscore in highscores %}
            <tr>
                <td>{{ name["name"] }}</td>
                <td>{{ highscore["score"] }}</td>
                <td>{{ date["date"] }}</td>
            </tr>
            {% endfor %}
    </body>
</html>